@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --korFont: 'Chosunilbo_myungjo';
    --engFont: 'Rajdhani', sans-serif;
}

input::placeholder {
    color: #999;
}

input,
button {
    outline: none;
    border: none;
    cursor: pointer;
}

#body.active {
    background: rgba(0, 0, 0, 0.12);
    transition: 0.3s all linear;
}

.wrap {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}

.textbox {
    position: relative;
    padding: 1rem;
    max-width: 90%;
    width: 560px;
    height: max-content;
    letter-spacing: 0.16rem;
    margin-bottom: 20px;
    background: #000;
    color: #FFF;
    border-radius: 20px;
    font-family: var(--korFont);
}

.textbox span {
    display: inline-block;
    font-size: 0.9rem;
    line-height: 1.5;
}

.textbox .time {
    position: absolute;
    right: 4%;
    top: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    transform: translate(4%, -50%);
    animation: timer 10s linear infinite;
}

.textbox .time .timer {
    font-size: 0.8rem;
}

.textbox .time .timer .ampm {
    font-size: 0.7rem;
}

.textbox .date {
    font-size: 0.9rem;
}


.textbox p {
    display: block;
    text-indent: 0.25rem;
    padding: 0.25rem;
    margin-top: 0.25rem;
}

.container {
    position: relative;
    max-width: 90%;
    width: 560px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    color: #181818;
    background: whitesmoke;
}

/* .container::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 590px;
    top: -20px;
    left: -20px;
    background: #181818;
    z-index: -1;
    border-radius: 20px;
} */

.container.active {
    background: rgba(241, 235, 235, 0.12);
    transition: 0.3s all linear;
}

.container .title {
    padding: 1.2rem;
    width: 100%;
    text-align: center;
}

.container .title span {
    padding: 0.8rem;
    display: inline-block;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.27);
    font-family: var(--korFont);
    font-weight: 700;
}

.container .imgbox {
    width: 100%;
    text-align: center;
    height: max-content;
    border-radius: 6px;
}

.container .imgbox img {
    object-fit: cover;
    width: 80%;
    height: 100%;
}

.container #form {
    position: absolute;
    bottom: 0px;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: 1rem;
}

.container #form button,
.container #form input {
    background: #FFF;
    font-size: 1.1rem;
    border-radius: 6px;
    font-family: 'Chosunilbo_myungjo';
    transition: 0.15s border-color linear;
    height: 46px;
    width: 100%;
    border: 1px solid #e5e8eb;
}

.container #form input {
    padding: 12px 20px;
    color: #000;
}


#form input:hover,
#form input:focus,
#form button:hover,
#form button:focus {
    border: 2px solid #07f;
    transition: 0.15s border-color linear;
}

li {
    list-style: none;
}

.list {
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    border-radius: 12px;
}

.list.active {
    position: absolute;
    background: #FEFEFE;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.3s all linear;
}

.list h1 {
    display: block;
    padding: 1rem;
}

.blob {
    position: relative;
    width: 350px;
    height: 350px;
    display: grid;
    place-items: center;
}

.blob span:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: rotate-blob 5s linear infinite;
}

.blob span:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    background-image: url(./img/logo3.png);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: rotate-blob 4s linear infinite;
}

.blob span:nth-child(3) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 2px solid #a9ff68;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0.5s;
    animation: rotate-blob2 10s linear infinite;
}


.blob:hover span:nth-child(1) {
    background: #e9cade;
    border: none;
    opacity: 0.2;
}

.blob:hover span:nth-child(2) {
    border: none;
    opacity: 0.9;
}

.blob:hover span:nth-child(3) {
    background: #b6bbe094;
    border: none;
    opacity: 0.6;
}

.country_item {
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0 1rem;
    width: 100%;
    height: max-content;
    display: block;
    z-index: 1000;
    gap: 1rem;
    overflow: auto;
}

.country_item p {
    width: 100%;
    display: inline-block;
    padding: 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    border-radius: 6px;
    font-family: var(--korFont);
    margin-bottom: 4px;
    border: 1px solid rgb(236, 202, 182);
    word-break: break-all;
}

.country_item span {
    padding-bottom: 3px;
    font-size: 1rem;
    font-family: var(--korFont);
    border-bottom: 1px solid #07f;
}

.delbtn {
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 45px;
    height: 45px;
    transform: translate(3%, 3%);
    border-radius: 50%;
    font-size: 0.8px;
    background: transparent;
    border: 1px solid #ecb9b9;
    transition: 0.3s all linear;
    z-index: 100;
    box-shadow: 0 1px 1px rgba(241, 235, 235, 0.12);
}

.delbtn:hover {
    background: #FFFFFF;
    transition: 0.3s all linear;
}

/* effect */
.effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgb(166, 160, 233);
    animation: effect 20s linear infinite;
}

.effect:nth-of-type(2n) {
    width: 7.5px;
    height: 7.5px;
    animation-delay: 1s;
    animation-duration: 17s;
}

.effect:nth-of-type(2n+1) {
    width: 5.5px;
    height: 5.5px;
    animation-duration: 16s;
    animation-delay: 2s;
}

/* mobile */
@media screen and (max-width: 500px) {
    .wrap {
        padding: 0 1rem;
        background: #F7F7F7;
    }

    .container {
        gap: 3.5rem;
        height: 525px;
        background: #FFFFFF;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 4px 10px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .container .title {
        padding: 1rem;
    }

    .container .title span {
        padding: 0.65rem;
        display: inline-block;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        border-bottom: 1.5px solid #ccc;
        width: 100%;
    }

    .list.active {
        background: #191919;
    }

    .textbox {
        max-width: 90%;
        width: 525px;
        position: relative;
        padding: 0.7rem;
        height: max-content;
        letter-spacing: 0.15rem;
        margin-bottom: 6px;
        background: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        color: #9CA7BB;
        border-radius: 20px;
        font-family: var(--korFont);
    }

    .textbox span {
        display: inline-block;
        padding: 0.25rem;
        border-radius: 12px;
        font-size: 0.75rem;
        line-height: 1.5;
        /* background: #d7e3f7; */
    }

    .textbox .time {
        position: absolute;
        right: 4%;
        top: 50%;
        display: flex;
        flex-flow: column;
        align-items: center;
        transform: translate(4%, -50%);
        animation: timer 10s linear infinite;
    }

    .textbox .time .timer {
        font-size: 0.65rem;
    }

    .textbox .time .timer .ampm {
        font-size: 0.55rem;
    }

    .textbox .date {
        font-size: 0.65rem;
    }


    .textbox p {
        display: block;
        text-indent: 0.25rem;
        padding: 0.25rem;
        margin-top: 0.25rem;
        font-size: 0.7rem;
    }

    .country_item {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin: 0.25rem;
        height: max-content;
        display: block;
        z-index: 1000;
    }

    .country_item p {
        background: transparent;
        font-size: 1rem;
        border-radius: 0;
        font-weight: 500;
        border-radius: 12px;
        color: #FFF;
        text-align: left;
        border: 1px solid #ccc;
    }

    .country_item p span {
        border-bottom: 1px solid #07f;
        font-size: 0.85rem;
        color: #07f;
        font-weight: 700;
    }

    .container::after {
        width: 350px;
        height: 540px;
        left: -20px;
    }

    .container .imgbox img {
        width: 100%;
        height: 100%;
    }

    .container #form {
        gap: 0.5rem;
    }

    .container #form button,
    .container #form input {
        font-size: 0.85rem;
        border-radius: 3px;
        height: 42px;
        width: 100%;
        background: #F5F5F7;
    }

    .delbtn {
        position: absolute;
        right: 3%;
        bottom: 2%;
        width: 36px;
        height: 36px;
        transform: translate(2%, 3%);
    }

    .blob {
        position: relative;
        width: 250px;
        height: 250px;
        display: grid;
        place-items: center;
    }

    /* effect */
    .effect {
        width: 2.5px;
        height: 2.5px;
        background: rgba(255, 255, 255, 0.36);
    }

    .effect:nth-of-type(2n) {
        width: 4.5px;
        height: 4.5px;
    }

    .effect:nth-of-type(2n+1) {
        width: 3.5px;
        height: 3.5px;
    }
}


@keyframes rotate-blob {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-blob2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes effect {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translate(-15px, 20vh);
    }

    40% {
        opacity: 1;
        transform: translate(15px, 40vh);
    }

    60% {
        opacity: 1;
        transform: translate(-15px, 60vh);
    }

    80% {
        opacity: 1;
        transform: translate(0, 80vh);
    }

    100% {
        opacity: 1;
        transform: translateY(100vh);
    }
}

/* @keyframes timer {
    0% {
        opacity: 0;
        color: #000;
    }

    20% {
        opacity: 1;
        color: #07f;
    }

    40% {
        opacity: 1;
        color: #fff;
    }

    60% {
        opacity: 1;
        color: #07f;
    }

    80% {
        opacity: 1;
        color: #FFF;
    }

    100% {
        opacity: 0;
        color: #000;
    }
} */